{% extends 'basic.html' %} {% block title %}Book Package {% endblock title %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 ">

            <form action="/user/book-package/book" method="POST">
                {%csrf_token%}
                {%load app_tags%}
                <div class="form-group d-none">
                    <label for="username">Agency:</label>
                    <input type="text" class="form-control" id="agency" name="agency" disabled value="{{package.agency.name}}">
                </div>
                
                <div class="form-group">
                    <label for="username">Event:</label>
                    <input type="text" class="form-control " id="location" name="location" disabled value={{package.agency.location}}>
                </div>
                <div class="form-group d-none">
                    <label for="person">username:</label>
                    <input type="text" class="form-control " id="username" name="username" required="true" value={{request.user}}>
                </div>
                <div class="form-group d-none">
                    <label for="person">Person:</label>
                    <input type="number" class="form-control " id="person" name="person" min="1" max={{package.capacity}} required="true" value={{package.capacity}}>
                </div>
                <div class="form-group d-none">
                    <label for="password2">Check-in:</label>
                    <input type="date" class="form-control " id="cin"  placeholder="check in " name="check_in" value="2024-04-30" >
                </div>
                <div class="form-group d-none">
                    <label for="password2">Check-Out:</label>
                    <input type="date" class="form-control " id="cout"  placeholder="check out " name="check_out" value="2024-05-28" >
                </div>
                <div class="form-group d-none">
                    <label for="username">Package Type:</label>
                    <input type="text" class="form-control " id="packagetype" name="packagetype" disabled value={{package.get_package_type_display}}>
                </div>
                <div class="form-group">
                    <label for="password2">Cash Prize:</label>
                    <input type="number" class="form-control " id="price" placeholder="price " name="price" disabled value={{package.price}}>
                </div>


                <button type="submit" class="btn btn-primary">Apply Now</button>
                <input type="hidden" name="package_id" value={{package.id}}>

            </form>
        </div>
    </div>
</div>
{% endblock body %}