{% extends 'basic.html' %}
{% block title %}My Books{% endblock title %}
{% block body %}
<div class="container mt-4">
    <h2 class="mb-4">My Books</h2>
    <div class="row">
        {% for book_post in my_books %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ book_post.book.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book_post.book.author }}</h6>
                    <p class="card-text">{{ book_post.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
