{% extends 'basic.html' %}
{% block title %}Request Exchange{% endblock title %}
{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2>Request Exchange for {{ post.book.title }}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
